<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

            <form role="form" action="{% url 'principal:editar' idTrabajador=user.id %}" method="post" enctype="multipart/form-data" id="edit-form" novalidate="novalidate">
                {% csrf_token %}
                <div class="modal-body">
                    {% for field in form_trabajador %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    {% for field in form_usuario %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer btn-toolbar">
                    <button type="submit"id="id_grabar" class="btn btn-default btn-success pull-right">
                        <span class="glyphicon glyphicon-save"></span> Guardar
                    </button>
                    <button type="submit" class="btn btn-default btn-default pull-right" data-dismiss="modal"
                            style="margin-left: 5px">
                        <span class="glyphicon glyphicon-remove"></span> Cancelar
                    </button>
                </div>
            </form>

</body>
</html>