<div class="modal fade" id="login_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><span class="glyphicon glyphicon-user"></span> Login</h4>
            </div>
            <!--suppress HtmlUnknownTarget -->
            <form role="form" action="login" method="post" enctype="multipart/form-data" id="login-form" novalidate="novalidate">
                {% csrf_token %}
                <div class="modal-body">
                    {% for field in form_usuario %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer btn-toolbar">
                    <button type="submit"id="id_entrar" class="btn btn-default btn-success pull-right">
                        <span class="glyphicon glyphicon-save"></span> Entrar
                    </button>
                    <button type="submit" class="btn btn-default btn-default pull-right" data-dismiss="modal"
                            style="margin-left: 5px">
                        <span class="glyphicon glyphicon-remove"></span> Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedFunction -->
<script type="text/javascript">
    $(document).ready(function () {
        var validator = $("#login-form").validate({
            rules: {
                username: "required",
                password: {
                    required: true,
                    minlength: 8
                }
            },
            messages: {
                username: "Por favor ingrese su usuario",
                password: "Por favor ingrese su contrase&ntilde;a",
                confirmar: {
                    equalTo: "La confirmaci&oacute;n no es v&aacute;lida"
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
        $('#login_modal').on('hidden.bs.modal', function () {
            validator.resetForm();
        })
    });
</script>